.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;

    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;

    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: 600px;
    float: left;
    width:450px;
    border: 0;
}